.categories{
    max-width: 900px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 30px auto;
}
.categories form{
    width: 390px;
    margin-bottom: 20px;
}
.categories label{
    display: block;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.categories input, button{
    height: 35px;
    border: none;
    outline: none;
    border-bottom: 1px solid #000;
}
.categories input{
    width: 210px;
}
.categories button{
    width: 90px;
    background: #000;
    color: white;
    margin-left: 10px;
    border-radius: 4px;
}
.categories .row{
    min-width: 290px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    margin-left: 2rem;
    border-radius: 3px;
}
.categories .title-category{
    background-color: rgb(245, 245, 245);
}
.categories .title-category p{
    font-weight: 500;
    padding-top: 1rem;
    text-transform: uppercase;
}